body {
    background-color: #292929 !important;
}

button {
    background-color: #fff;
    color: #000000;
}

button:hover {
    background-color: #a7a7a7;
}

.game_element {
    background-color: #393939;
}

.game_info_text {
    color: #fff;
    font-size: 1.5rem;
}

.vertical-bar {
    background-color: #fff;
}

.horizontal-bar {
    background-color: #fff;
}

.cross-two {
    background-color: #fff;
}

.cross-one {
    background-color: #fff;
}

.circle-two {
    background-color: #393939;
}

.placed-element .circle-two {
    background-color: #292929 !important;
}

.circle-one {
    background-color: #fff;
}

.hoover-position {
    background-color: #393939;
}

.hoover-position:hover {
    background-color: #424242
}

.placed-element {
    background-color: #292929;
}