<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <script src="script/jquery.js"></script>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/dark_mode.css" id="default_css">
    <script src="js/import_css.js"></script>
    <script src="template/import_navbar.js"></script>
  </head>
  <body>
    <section id="tic-tac-toe-element" class="main-element">
      <ul>
        <li>
          <img src="img/tic-tac-toe-classical.png" alt="tic-tac-toe" class="section-img">
        </li>
        <li>
          <p class="section-main-text">Essaye mon tic tac toe</p>
        </li>
        <li>
          <button class="section-main-button" onclick="location.href='/games/tic-tac-toe'">Clique ici</button>
        </li>
      </ul>

    </section>
  </body>
</html>