<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <script src="script/jquery.js"></script>
    <script src="js/import_css.js"></script>
    <script src="template/import_navbar.js"></script>
  </head>
  <body>
  </body>
</html>