<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <script src="script/jquery.js"></script>
    <link rel="stylesheet" href="css/dark_mode.css" id="default_css">
    <script src="js/import_css.js"></script>
    <script src="template/import_navbar.js"></script>
  </head>
  <body>
  </body>
</html>