<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <script src="/script/jquery.js"></script>
    <link rel="stylesheet" href="/css/games/tictactoe/tictactoe_common.css">
    <link rel="stylesheet" href="/css/games/tictactoe/tictactoe_style.css">
    <link rel="stylesheet" href="/css/games/tictactoe/tictactoe_styledark.css" id="default_css">
    <script src="/js/games/tictactoe/tictactoe_game_script.js"></script>
    <script src="../../../template/import_navbar.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <section id="actions_games" class="top_button">
      <button id="leave_game" onclick="leave_game()" style="margin-left: 50px;">Quitter la partie</button>
    </section>
    <p id="timer" style="margin-left: 50px;"></p>
    <p id="turn_info" style="margin-left: 50px;"></p>
    <p id="room_check" style="margin-left: 50px;"></p>
    <p id="games_tatus" style="margin-left: 50px;"></p>

    <a href="/" id="game_redirect"></a>
    <section>
      <div class="vertical-bar"></div>
      <div class="vertical-bar"></div>
      <div class="horizontal-bar"></div>
      <div class="horizontal-bar"></div>
    </section>
    <section>
      <div class="possible_position hoover-position" onclick="place_pos(11)"></div>
      <div class="possible_position hoover-position" onclick="place_pos(12)"></div>
      <div class="possible_position hoover-position" onclick="place_pos(13)"></div>
      <div class="possible_position hoover-position" onclick="place_pos(21)"></div>
      <div class="possible_position hoover-position" onclick="place_pos(22)"></div>
      <div class="possible_position hoover-position" onclick="place_pos(23)"></div>
      <div class="possible_position hoover-position" onclick="place_pos(31)"></div>
      <div class="possible_position hoover-position" onclick="place_pos(32)"></div>
      <div class="possible_position hoover-position" onclick="place_pos(33)"></div>
    </section>
    
    <section>
      <div class="possible_position" id="pos11"></div>
      <div class="possible_position" id="pos12"></div>
      <div class="possible_position" id="pos13"></div>
      <div class="possible_position" id="pos21"></div>
      <div class="possible_position" id="pos22"></div>
      <div class="possible_position" id="pos23"></div>
      <div class="possible_position" id="pos31"></div>
      <div class="possible_position" id="pos32"></div>
      <div class="possible_position" id="pos33"></div>
    </section>
  </body>
</html>