<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <script src="/script/jquery.js"></script>
    <link rel="stylesheet" href="/css/games/tictactoe/tictactoe_common.css">
    <link rel="stylesheet" href="/css/games/tictactoe/tictactoe_style.css">
    <link rel="stylesheet" href="/css/games/tictactoe/tictactoe_styledark.css" id="default_css">
    <script src="/js/games/tictactoe/tictactoe_script.js"></script>
    <script src="../../template/import_navbar.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <section id="actions_games" class="top_button">
          <button id="create_game" onclick="create_room()" style="margin-left: 520px;">Créer une partie</button>
          <button id="join_game" style="margin-left: 100px;">Rejoindre une partie privé</button>
    </section>
    <p id="room_check" style="text-align: center !important;" class="text--center"></p>
    <a href="/" id="game_redirect"></a>
    <section id="games_list">

    </section>
  </body>
</html>